@page
@{
    Layout = "_Layout";
}

<div id="alto">
    <div class="container">
        <div class="row">
            <div id="bee">
                <div class="container">
                    <div id="cang" class="bee-espacio">
                        <img class="bee" src="https://i.ibb.co/N1dWJbf/7roe18uj1x591-unscreen.gif" />
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
            <div id="Iniciarsesion" class="col-6">Inicia sesión o regístrate</div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-3"></div>
            <div id="tablax" class="col-3">
                <div class="container">
                    <h6><b>Inicia sesión para acceder a los retos CTF.</b></h6>
                    <p>Minecraft Control Login Panel</p>
                </div>
            </div>
            <div id="formulariox" class="col-3">
                <div class="container">
                    <form action="" name="registration">
                        <label for="firstname">
                            <h6><img src="https://i.ibb.co/mDRgDXS/descarga.png" width="16" height="16" class="testimonial-img"><b> Nombre de jugador</b></h6>
                        </label>
                        <input type="text" name="firstname" id="firstname" placeholder="" />

                        <label for="password">
                            <h6><img src="https://wiki.hypixel.net/images/c/c5/Minecraft_items_tripwire_hook.png" width="16" height="16" class="testimonial-img"><b> Contraseña</b></h6>
                        </label>
                        <input type="password" name="password" id="password" placeholder="***********" />

                        <button type="submit">Iniciar sesión</button>
                        <button type="submit">Quiero registrarme</button>
                    </form>
                </div>
                <a href="#">Política de privacidad</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>